// [Settings,][Tools,][Generic,][Base,][Objects,][Utilities,]
@import '../projectConfig/_settings.z-indexes';

////
/// @group -Library-
////

//*------------------------------------
//  Generic: Motion
//  ------------------------------------*/

@mixin reduced-motion {
    @media screen and (prefers-reduced-motion: reduce),
        (update: slow) {
        @content;
    }
}

///
/// Motion preference override, dirty (uses !importants) but means we can set and forget- unlikely to be overriden by a later !important
///
@include reduced-motion {
    * {
        &,
        &::before,
        &::after {
            animation-duration: 0.001ms !important;
            animation-iteration-count: 1 !important;
            transition-duration: 0.001ms !important;
        }
    }
}
