//*------------------------------------
//  Utility : Clip to viewpot
//  ------------------------------------*/

////
/// @group -Library-
////

///
/// Limits size of element to viewport size & prevents scrolling
///
@mixin u-clip-to-viewport {
  height: 100vh;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100vw;
}
