﻿
///*------------------------------------
//  Generic typeface definitions
//  ------------------------------------*/

// Guidance
// ==========
//
// - Use woff & woff2 if possible with fallback to .otf or .ttf for Android <= 4.4 (Nov 2013) support
//
// Please see:
// - https://css-tricks.com/snippets/css/using-font-face/
// - https://stackoverflow.com/questions/36105194/are-eot-ttf-and-svg-still-necessary-in-the-font-face-declaration


///*------------------------------------
//  @font-face <NAME>
//  @description <USAGE DETAILS (IF NEEDED)>
//  ------------------------------------*/
// @font-face {
//   font-family: '';
//   font-style: normal;
//   font-weight: normal;
//   src: local('Font Name'), local('Font-Name')
//        url('/_client/fonts/.woff2') format('woff2'),
//        url('/_client/fonts/.woff') format('woff'),
//        url('/_client/fonts/.ttf') format('truetype');
// }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('/_client/fonts/roboto-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('/_client/fonts/roboto-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('/_client/fonts/roboto-v20-latin-regular.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/_client/fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/_client/fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/_client/fonts/roboto-v20-latin-700.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 300;
  src: local('Antonio Light'), local('Antonio-Light'),
       url('/_client/fonts/antonio-300.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Antonio';
  font-style: normal;
  font-weight: 700;
  src: local('Antonio Bold'), local('Antonio-Bold'),
       url('/_client/fonts/antonio-700.ttf') format('truetype'); /* Safari, Android, iOS */
}