// [Settings,][Tools,][Generic,][Base,][Objects,][Utilities,]

////
/// @group -Project-
////

//*----------------------------------------
// 
//  Loading spinner
// 
// ----------------------------------------*/

///
@mixin o-loading-spinner(
    $speed: 0.6s,
    $spinnerStyle: 2px solid,
    $size: size(1em),
    $centreVertically: true,
    $centreHorizontally: true
) {
    animation: rotate $speed infinite $easeInQuad;		
    background: transparent;
    backface-visibility: hidden;
    border: $spinnerStyle;
    border-left-color: transparent;
    border-radius: 50%;
    content: '';
    height: $size;
    width: $size;
    
    @if $centreHorizontally or $centreVertically {
        position: absolute;
    }
    @if $centreHorizontally {
        left: calc(50% - #{$size / 2});
    }
    @if $centreVertically {
        top: calc(50% - #{$size / 2});
    }
}

///
@mixin o-loading-spinner__backdrop($colour: rgba($colour-white, 0.6), $fill: true) {
    background-color: $colour;
    content: '';

    @if $fill {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
    }
}