// [Settings,][Tools,][Generic,][Base,][Objects,][Utilities,]

/// Buttons

@mixin o-button($backgroundColour, $textColour, $hoverBackgroundColour: false) { 
    @include font-size($font-size-small);
    @include light-alternate-font;
    background-color: $backgroundColour;
    color: $textColour;
    text-transform: uppercase;
    min-width: size(105px);
    padding: size(5px) size(20px);
    text-align: center;
    text-decoration: none;

    @if $hoverBackgroundColour {
        transition: all 0.6s $easeOutQuint;
        &:hover {
            background-color: $hoverBackgroundColour;
        }
    }
}

@mixin o-button--black($backgroundColour: $colour-black, $textColour: $colour-white, $hoverBackgroundColour: $colour-grey-light) {
    @include o-button(
        $backgroundColour: $backgroundColour,
        $textColour: $textColour, 
        $hoverBackgroundColour: $hoverBackgroundColour
    );
}

@mixin o-button--red($backgroundColour: $colour-red, $textColour: $colour-white, $hoverBackgroundColour: $colour-black) {
    @include o-button(
        $backgroundColour: $backgroundColour,
        $textColour: $textColour, 
        $hoverBackgroundColour: $hoverBackgroundColour
    );
}