// [Settings,][Tools,][Generic,][Base,][Objects,][Utilities,]
@import '_settings.media-queries';

////
/// @group -Project-
////

//*------------------------------------
//  @const font-sizes
//  ------------------------------------*/
$font-size-xxxsmall: 'xxxsmall';
$font-size-xxsmall: 'xxsmall';
$font-size-xsmall: 'xsmall';
$font-size-small: 'small';
$font-size-medium: 'medium';
$font-size-medium-large: 'medium-large';
$font-size-large: 'large';
$font-size-xlarge: 'xlarge';
$font-size-xxlarge: 'xxlarge';

///
/// Roboto font declaration. Do not use directly
///
/// @param {Number} $weight [400] - Font weight
/// @access private
///
@mixin Roboto ($weight: 400) {
  font-family: 'Roboto', sans-serif;
  font-weight: #{$weight};
}

///
/// Antonio font declaration. Do not use directly
///
/// @param {Number} $weight [400] - Font weight
/// @access private
///
@mixin Antonio ($weight: 300) {
    font-family: 'Antonio', sans-serif;
    font-weight: #{$weight};
}

///
/// Regular default font
///
@mixin default-font {
    @include Roboto;
}

///
/// Bold default font
///
@mixin bold-font {
    @include Roboto(700);
}


///
/// Light alternate font
///
@mixin light-alternate-font {
    @include Antonio(300);
}

///
/// Bold alternate font
///
@mixin bold-alternate-font {
    @include Antonio(700);
}

///
/// Typographic scale map for use in the "font-size" mixin.<br>
/// Default/breakpoint variable should be used at the top level as keys.<br>
/// Default= font styles which will not be wrapped in a media query. <br>
/// If breakpoint variables as a key it makes the font the styles responsive (applied when >= the breakpoint).<br>
///
/// @example Example typographic scale map
///   $typographic-scale: (
///       'default' : (
///           $font-size-xxxsmall: (
///               'font-size': size(11),
///               'line-height': (20/11)
///           ),
///           $font-size-xxsmall: (
///               'font-size': size(12),
///               'line-height': (20/12)
///           )
///       ),
///       $media-query-xsmall : (
///           $font-size-xxxsmall: (
///               'font-size': size(11),
///               'line-height': (20/11)
///           )
///       )
///   )
///
$typographic-scale: (
    'default' : (
        $font-size-xxxsmall: (
            'font-size': size(13),
            'line-height': normal
        ),
        $font-size-xxsmall: (
            'font-size': size(14),
            'line-height': normal
        ),
        $font-size-xsmall: (
            'font-size': size(15),
            'line-height': normal
        ),
        $font-size-small: (
            'font-size': size(16),
            'line-height': normal
        ),
        $font-size-medium: (
            'font-size': size(20),
            'line-height': normal
        ),
        $font-size-medium-large: (
            'font-size': size(25),
            'line-height': normal
        ),
        $font-size-large: (
            'font-size': size(31),
            'line-height': normal
        ),
        $font-size-xlarge: (
            'font-size': size(40),
            'line-height': normal
        ),
        $font-size-xxlarge: (
            'font-size': size(90),
            'line-height': (130/90)
        )
    )
) !default;