///*------------------------------------
//  #Settings : Colours
//  ------------------------------------*/
$colour-black:      #000000;
$colour-white:      #FFFFFF;

$colour-grey-xxlight:      #F7FAFC;
$colour-grey-xxlight:      #EDF2F7;
$colour-grey-xlight:       #E2E8F0;
$colour-grey-light:        #CBD5E0;
$colour-grey:              #A0AEC0;
$colour-grey-dark:         #718096;
$colour-grey-xdark:        #4A5568;
$colour-grey-xxdark:       #2D3748;
$colour-grey-xxxdark:      #1A202C;

$colour-red-xxxlight:      #FFF5F5;
$colour-red-xxlight:       #FED7D7;
$colour-red-xlight:        #FEB2B2;
$colour-red-light:         #FC8181;
$colour-red:               #F56565;
$colour-red-dark:          #E53E3E;
$colour-red-xdark:         #C53030;
$colour-red-xxdark:        #9B2C2C;
$colour-red-xxxdark:       #742A2A;

$colour-orange-xxxlight:   #FFFAF0;
$colour-orange-xxlight:    #FEEBC8;
$colour-orange-xlight:     #FBD38D;
$colour-orange-light:      #F6AD55;
$colour-orange:            #ED8936;
$colour-orange-dark:       #DD6B20;
$colour-orange-xdark:      #C05621;
$colour-orange-xxdark:     #9C4221;
$colour-orange-xxxdark:    #7B341E;

$colour-yellow-xxxlight:   #FFFFF0;
$colour-yellow-xxlight:    #FEFCBF;
$colour-yellow-xlight:     #FAF089;
$colour-yellow-light:      #F6E05E;
$colour-yellow:            #ECC94B;
$colour-yellow-dark:       #D69E2E;
$colour-yellow-xdark:      #B7791F;
$colour-yellow-xxdark:     #975A16;
$colour-yellow-xxxdark:    #744210;

$colour-green-xxxlight:    #F0FFF4;
$colour-green-xxlight:     #C6F6D5;
$colour-green-xlight:      #9AE6B4;
$colour-green-light:       #68D391;
$colour-green:             #48BB78;
$colour-green-dark:        #38A169;
$colour-green-xdark:       #2F855A;
$colour-green-xxdark:      #276749;
$colour-green-xxxdark:     #22543D;

$colour-teal-xxxlight:     #E6FFFA;
$colour-teal-xxlight:      #B2F5EA;
$colour-teal-xlight:       #81E6D9;
$colour-teal-light:        #4FD1C5;
$colour-teal:              #38B2AC;
$colour-teal-dark:         #319795;
$colour-teal-xdark:        #2C7A7B;
$colour-teal-xxdark:       #285E61;
$colour-teal-xxxdark:      #234E52;

$colour-blue-xxxlight:     #EBF8FF;
$colour-blue-xxlight:      #BEE3F8;
$colour-blue-xlight:       #90CDF4;
$colour-blue-light:        #63B3ED;
$colour-blue:              #4299E1;
$colour-blue-dark:         #3182CE;
$colour-blue-xdark:        #2B6CB0;
$colour-blue-xxdark:       #2C5282;
$colour-blue-xxxdark:      #2A4365;

$colour-indigo-xxxlight:   #EBF4FF;
$colour-indigo-xxlight:    #C3DAFE;
$colour-indigo-xlight:     #A3BFFA;
$colour-indigo-light:      #7F9CF5;
$colour-indigo:            #667EEA;
$colour-indigo-dark:       #5A67D8;
$colour-indigo-xdark:      #4C51BF;
$colour-indigo-xxdark:     #434190;
$colour-indigo-xxxdark:    #3C366B;

$colour-purple-xxxlight:   #FAF5FF;
$colour-purple-xxlight:    #E9D8FD;
$colour-purple-xlight:     #D6BCFA;
$colour-purple-light:      #B794F4;
$colour-purple:            #9F7AEA;
$colour-purple-dark:       #805AD5;
$colour-purple-xdark:      #6B46C1;
$colour-purple-xxdark:     #553C9A;
$colour-purple-xxxdark:    #44337A;

$colour-pink-xxxlight:     #FFF5F7;
$colour-pink-xxlight:      #FED7E2;
$colour-pink-xlight:       #FBB6CE;
$colour-pink-light:        #F687B3;
$colour-pink:              #ED64A6;
$colour-pink-dark:         #D53F8C;
$colour-pink-xdark:        #B83280;
$colour-pink-xxdark:       #97266D;
$colour-pink-xxxdark:      #702459;