////
/// @group -Project-
////

$form__control__background-colour: $colour-grey-xlight;
$form__control__text-colour: $colour-grey-dark;
$form__control__placeholder-colour: $colour-grey-light;
$form__control__font-size: $font-size-small;
$form__control__padding: size(10px) $column-gutter-default;

$form__error-class: '.error';
$form__error-message-class: '.error-message';

@mixin error-control {
    border: 2px solid $colour-red-dark;
}

#{$form__error-class} {
    @include error-control;
}

#{$form__error-message-class} {
    @include default-font;
    @include font-size($font-size-xxxsmall);
    background-color: $colour-red-light;
    display: inline-block;
    color: $colour-white;
    margin-right: auto;
    order: 10;
    padding: ($column-gutter-default / 4) ($column-gutter-default / 2);
}