// [Settings,][Tools,][Generic,][Base,][Objects,][Utilities,]

// Image cover

@mixin u-image-cover($objectFit: true) { 
    display: block;
    left: 50%;
    min-height: 100%;
    min-width: 100%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: auto;

    @if $objectFit {
        @supports(object-fit: cover) {
            height: 100%;
            left: 0;
            min-height: auto;
            min-width: auto;
            object-fit: cover;
            transform: none;
            top: 0;
            width: 100%;
        }
    }
}
